:root {
  --blue: hsl(246, 80%, 60%);
  --lightorange: hsl(15, 100%, 70%);
  --softblue: hsl(195, 74%, 62%);
  --lightred: hsl(348, 100%, 68%);
  --limegreen: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --softorange: hsl(43, 84%, 65%);
  --verydarkblue: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
}

html {
  height: 99%;
}

body {
  height: 100%;
  background-color: var(--verydarkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 70vw;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.menu {
  background-color: var(--darkblue);
  box-sizing: border-box;
  grid-area: 1 / 1 / 3 / 2;
  margin: 15px;
  border-radius: 15px;
}

.menu__personals {
  box-sizing: border-box;
  background-color: var(--blue);
  width: 100%;
  height: 65%;
  border-radius: 15px;
  color: white;
  font-weight: 300;
  padding: 35px;
}

.menu__personals img {
  width: 80px;
  border: 3px solid white;
  border-radius: 50px;
  display: block;
  margin-bottom: 40px;
}

.menu__personals h1 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 10px;
}

.menu__nav {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 24%;
}

button {
  display: block;
  font-size: 22px;
  color: var(--desaturatedblue);
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

button:hover {
  color: white;
}

.active__button {
  color: white;
}

.comp__content {
  box-sizing: border-box;
  height: 80%;
  position: absolute;
  bottom: 0px;
  background-color: var(--darkblue);
  border-radius: 15px;
  color: white;
  padding: 30px;
  width: 100%;
  transition: background-color 0.5s;
}

.comp__content:hover {
  background-color: hsl(235, 46%, 35%);
  cursor: pointer;
}

.comp__title p {
  font-size: 18px;
  margin: 0px;
}

.comp__title img {
  transition: filter 0.3s;
}

.comp__title img:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.comp {
  margin: 15px;
  border-radius: 15px 15px 20px 20px;
  position: relative;
}

.comp__work {
  background-color: var(--lightorange);
}

.comp__play {
  background-color: var(--softblue);
}

.comp__study {
  background-color: var(--lightred);
}

.comp__exercise {
  background-color: var(--limegreen);
}

.comp__icon__exercise img {
  position: relative;
  right: -170px;
  top: 0px;
}

.comp__social {
  background-color: var(--violet);
}

.comp__selfcare {
  background-color: var(--softorange);
}

.comp__icon img {
  position: relative;
  right: -170px;
  top: -10px;
}

.comp__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.comp__score {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 10px;
}

.comp__previous {
  color: var(--paleblue);
}

.comp__icon,
.comp__icon__exercise {
  overflow: hidden;
}

footer {
  width: 100%;
  text-align: center;
  position: relative;
  top: 120px;
  color: var(--desaturatedblue);
}

footer a {
  text-decoration: none;
  color: var(--limegreen);
}
